body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    background-color: rgb(98, 181, 220);
    background: rgb(98, 181, 220);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
    margin: auto;
    overflow-y:hidden;
    position: relative;
    height: 600px;
    border-radius: 10px;
}
.chat{
    position: absolute;
    bottom:1%;
    display: flex;
    width: 95%;
    margin:0px 10px;
    justify-content: center;

}
.chat > input {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    width: 500px;
    margin: 4px;
    text-decoration: none;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
   width: 20px;
   margin: 5px;
}

.chat > button {
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    width:50px;
    height: 40px;
    margin: 2px;
}
.chat-window{
    position:absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(255, 255, 255);
    height: 535px;
    overflow-y: scroll;
}

.bot{
    background-color: rgb(25, 77, 111);
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.answer{
    background: rgb(6, 43, 63);
    margin-left: 20%;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.bot > p{
    margin: 15px;
}

.answer > p{
    margin: 15px;
    text-align: right;
}

.chat-window::-webkit-scrollbar {
    display: none;
  }

