<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicus</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><h1 >Medicus</h1></a>
        <ul>
            <a href="/about"><Li>About</Li></a>
            <a href="https://github.com/Himangshu1086/Chatbot-Medicus"><Li>Project Link</Li></a>
            <a href="https://github.com/Himangshu1086/Chatbot-Medicus/blob/master/Data%20Preparation/DataPreparation.ipynb"><Li>Data Preparation</Li></a>
            <a href="https://github.com/Himangshu1086/Chatbot-Medicus/blob/master/data-preprocessing.ipynb"><Li>Data Preprocessing</Li></a>
            <a href="https://github.com/Himangshu1086/Chatbot-Medicus/blob/master/model-building.ipynb"><Li>Model Building</Li></a>
            
            
            
        </ul>
    </div>
    <div class="container" style="
    background: url('https://images.unsplash.com/photo-1586374579358-9d19d632b6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-repeat:no-repeat;background-size: cover;" >
        <div id="chatbox" class="box-chat">
           <span style=" font-size: 40px;font-weight: 600;padding: 10px;
            text-align:center;color: rgb(8, 49, 57);">Chatbot</span>
            <div id="you" class="answer">
                
                 <!-- <strong style="background-color: rgb(24, 118, 152);margin:10px;padding: 5px; border-radius: 5px;position: absolute;">You :</strong> -->
                 <p id="userQ">
                    {%if query%}  {{query}} ?{%endif%} </p>
             
              
            </div>
           
            <div id="ans" class="bot">
                {%if answer %}
                <p style="text-align: justify;"><strong style="background-color: rgb(219, 122, 193);color:black;margin:7px;padding: 5px; border-radius: 5px;">Medicus :</strong>
                {{answer}}
                </p>
                
                <p id="helpful" style="background-color:rgba(0, 0, 0, 0.73);padding: 4px;border-radius: 4px; text-align: center;">Was this answer helpful? 
                    <button onclick="feedback_P()" style="background-color: rgb(86, 204, 244);border-radius:4px ;">Yes</button> 
                    <button onclick="feedback_N()" style="background-color: rgb(86, 204, 244);border-radius:4px ;">No</button>
                </p>
                {%endif%}
            </div>

            {%if not answer %}
            <p id="welcome">
                Welcome to my world !</p>
                {%endif%}
            
        </div>
        <div class="bot" id="top-query">
            <h3>Hope this will help!</h3>
            <span>Following are the most related results based on your query!</span>
            
            <ul>
                {%for question in top_five %}
                <form action="/top-five-query" method="POST">
                <input type="text" value="{{question[0]}}" id="query2" style="display: none;" name="query2" />
                <li style="background-color: rgb(235, 117, 188);
                margin:10px;padding: 10px;border-radius: 5px;color:black;text-align: justify;list-style: circle;">
                {{question[1]}} ? <button style="background-color: rgb(29, 116, 146);border-radius:4px ;border: none;color: white;" type="submit">Search</button></li>
                
            </form>
                {% endfor %}
            </ul>
            
        </div>
        <form class="chat"  action="/submit" method="POST">
            <input type="text" id="query" name="query" value="" placeholder="How may i help you ?"/>
            <button onclick="getvalue()" type="submit"><img src="../static/send.png"/></button>
            <button type="submit"><img src="../static/mic.png"/></button>
        </form>
        
    </div>
    <script>
        function getvalue(){
            var query = document.getElementById("query").value; 
            document.getElementById("userQ").innerText = query + ' ?';
            document.getElementById("ans").style.padding = "15px"
            document.getElementById("ans").innerText = "loading..."
            document.getElementById("welcome").style.display = 'none'
        }

        function feedback_N()
        {
            document.getElementById("chatbox").style.display = "none"
            document.getElementById("top-query").style.padding = '20px'
            document.getElementById("top-query").style.color = 'white'
            document.getElementById("top-query").style.display = 'block'
        }


        function feedback_P()
        {
            document.getElementById("helpful").innerText = "Thank you for your feedback!"
        }


    </script>
</body>
</html>